AddDefaultCharset utf-8

Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /


############################################################################
#### Убираем повторяющиеся слеши (/) в URL                              ####
############################################################################
RewriteCond %{THE_REQUEST} //
   # Проверяем, повторяется ли слеш (//) более двух раз.
RewriteCond %{QUERY_STRING} !http(s|)://
  # Убедимся что это не урл в  GET
RewriteRule .* /$0 [R=301,L]
   # Исключаем все лишние слеши.

RewriteRule ^([a-z0-9_-]+)/$ /?controller=$1 [NS,L]
RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)/$ /?controller=$1&action=$2 [NS,L]

#Админка


#php_value max_execution_time 0
#php_flag display_errors on
#php_value error_reporting -1
